body {
  background-color: #4d4d4d;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-top: 10px;
}

.task {
  padding-top: 10px;
  max-width: 550px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  border: 4px solid #ededed;
}

.tasktask-done {
  padding-top: 10px;
  max-width: 550px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  border: 4px solid #ededed;
  text-decoration:line-through ;
}

.action {
  width: 25px;
  cursor: pointer;
}

